### all ignore ###
/*
/.**

### not ignore ###
!/.bin/
!/.bin/**
!/.bin.local
!/.github/**
!/.config/
!/.config/**
/.config/fish/fish_variables

!.bashrc

!/.gitignore_global
!/.gitconfig_shared

!/README.md
!/LICENSE
!.gitignore