### all ignore ###
/*
/.**

### not ignore ###
!/.bin/
!/.bin/**
!/.bin.local
!/.github/**
!/.config/
!/.config/git/**
!/.config/fish/config.fish
!/.config/fish/functions/fish_prompt.fish
!/.config/fish/functions/__informative_git_prompt.fish

!.bashrc

!/.gitignore_global
!/.gitconfig_shared

!/README.md
!/LICENSE
!.gitignore